
*.pyc
*.pyc
*.pyc
*.pyc
Python UI/calc_rest.py
*.pyc
Python UI/calc_rest.py
Python UI/test.py
Python UI/__pycache__/calc_rest.cpython-36.pyc
Python UI/solver.py
Python UI/__pycache__/calc_rest.cpython-36.pyc
